.bg {
    width: 100dvw;
    height: 100dvh;
    background: linear-gradient(#12001B 33%, #34004E 100%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#crystals {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

/* .card {
    width: 55%;
    height: 60%;
    background-image:
        radial-gradient(circle at 50px 50px,
            rgba(229, 189, 251, 0.40) 0%,
            rgba(115, 158, 173, 0.3) 45%,
            rgba(63, 143, 150, 0.25) 100%),
        radial-gradient(circle at 150px 150px,
            rgba(255, 255, 255, 0.015),
            rgba(0, 0, 0, 0.133));
    background-position: center;
    z-index: 2;
    border-radius: 40px;
    border-color: black;
    border-width: 20px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
} */

.card {
    width: 55%;
    height: 60%;
    z-index: 2;
    border-radius: 40px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.card-bg {
    background-image: url(../assets/card-gradient.png);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.007);
}

.border-gradient {
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 4;
    border-style: solid;
    border-width: 0.5px;
    padding: 5px;
}